---
layout: base.njk
title: Page not found
permalink: 404.html
eleventyExcludeFromCollections: true
---

<article>
  <h1>Oh dear...</h1>
  <br />
  <p>That page doesn't exist. Perhaps you should <a href="/" aria-label="{{ metadata.title }} — home"> go back?<a/></p>
</article>
